<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="about-title">Sobre Synergy Vision</h1>
      <h3>
        ¿Quiénes Somos?
      </h3>
      <p>


        Synergy Vision es una empresa que se especializa en proveer la Formación, la Tecnología y la Consultoría en las
        áreas de Especulación (Trading), Inversión, Economía, Finanzas y Riesgo.

        Ofrecemos Formación de Alto Nivel para prácticas de Consultoría y Ejercicio Profesional Especializado para
        alcanzar Certificaciones reconocidas a nivel mundial como el CFA, CMT y FRM.

        Aplicamos técnicas que conjugan lo que hoy en día se conoce como Data Science que consiste en la aplicación de
        herramientas de las Matemáticas, Estadísticas y las Ciencias de la Computación, además de las técnicas de
        Minería de Datos (Datamining) y Aprendizaje de máquina (Machine Learning).

        Nuestra oferta de servicios consiste en asistir a empresas con sus canales Electrónicos con aplicaciones Web y
        Móvil para ofrecer servicios del mundo de la Especulación, Inversiones, Economía, Finanzas y Riesgo. Así como
        el desarrollo de sistemas especializados para facilitar la gestión de inversiones, portafolios, trading,
        simuladores, modelos, plataformas de trading, finanzas corporativas, finanzas internacionales, valoración,
        optimización, riesgo, calculadoras, proyecciones, etc.

        Iniciamos la conformación de un ecosistema para materializar esta oferta. En este sentido estamos buscando
        aliados que en medio de entornos complejos son capaces de identificar oportunidades y materializarlas.

        Somos científicos de datos financieros.

      </p>
      <h3>
        Nuestro Equipo
      </h3>
      <p>
        Somos un equipo multidisciplinario que combina el conocimiento sobre Economía, Riesgo, Ciencias Actuariales,
        Finanzas, Matemáticas, Estadísticas, Probabilidades y las Ciencias de la Computación, con una Visión única
        sobre servicios para el sector financiero, aplicando Ciencia de los datos y Algoritmos inteligentes para el
        sector financiero. Somos científicos de datos financieros.</p>
    </div>
  </div>
</div>