@import '../../styles/shared';
@import 'variables';
@import '~@angular/material/theming';

.mat-elevation-z2 {
  // Adds a shadow for elevation level 2 with default color and full opacity:
  @include mat-elevation(2);
}

.mat-elevation-z8 {
  // Adds a shadow for elevation level 2 with color #e91e63 and 80% of the default opacity:
  @include mat-elevation(2, #182f58, 0.9);
}

/* tr {
  &:nth-child(odd) {
    background-color: $grey2;
  }

  td {
    border-top: none;
  }
}
 */
mat-button-toggle{
  white-space: pre-line !important;
  position: relative;
}

list-group{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

app-ranking-page{
    display: block;
    min-height: calc(100vh - #{ $navbar-height });
    padding-bottom: 6rem;
}

table {
    width: 100%;
  }
  
  %td {
    padding-top: 15px;
    padding-bottom: 15px;
    color: $grey5;
    font-size: $font-size-xs;
    letter-spacing: $letter-spacing-xs;
  }
  .table-wrapper {
    overflow-y: hidden;
  
    .table {
      th {
        padding: 15px;
        padding-left: 6px;
      }
  
      thead {
        tr {
          th {
            color: $blue;
            font-size: $font-size-sm;
            font-weight: bold;
            letter-spacing: $letter-spacing-xxs;
            text-transform: uppercase;
            text-align: center;
          }
  
          td {
            @extend %td;
          }
        }
      }
  
      tbody {
        tr {
          cursor: pointer;
          transition: background-color 1s;
  
          &:hover {
            background-color: $grey !important;
          }
  
          td {
            @extend %td;
            border-bottom: none;
          }
        }
      }
  
      &.table-stripes {
        thead {
          tr {
            th {
              border-bottom: none;
            }
          }
        }
  
        tbody {
          tr {
            &:nth-child(odd) {
              background-color: $grey2;
            }
  
            td {
              border-top: none;
            }
          }
        }
      }
  
      &.table-lines {
        thead {
          tr {
            th {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
  
  ng2-smart-table {
    table {
      @extend .table;
      @extend .table-stripes;
    }
  }
  