<div class="auth-page">
  <div class="container">
    <div class="row auth-form-wrapper">
      <div class="col-12 col-lg-7 col-xl-6">
        <h1 class="auth-title">Bienvenido!</h1>
        <app-auth-signin-form [redirectUrl]="'/user'"></app-auth-signin-form>
        <div class="auth-alt-options">
          <a class="btn btn-link secondary-call-to-action-btn" [routerLink]="['/create-account']">
            No tienes cuenta? Registrate!
          </a>
          <a class="btn btn-link secondary-call-to-action-btn" [routerLink]="['/recover-password']">
            Olvido su contraseña.
          </a>
        </div>
<!--         <div class="auth-form-divider">
          <span class="divider-text">OR</span>
        </div>
        <button class="btn btn-block social-alternative-btn" (click)="redirectAccount()">
          SIGN IN WITH FACEBOOK
        </button> -->
      </div>
    </div>
  </div>
</div>
